<div class="container remove-padding">
  <div class="col remove-padding story-card card">
    <div class="nav card-header">
      <span class="p-1">
        <h6>{{dateOfCreate diary.created_at}}</h6>
      </span>
    </div>
    <div class="p-1">
      <div class="d-flex bd-highlight">
        <div class="mr-auto p-2">
          <h4>{{diary.diaryTitle}} by {{diary._owner.username}}
          </h4></span>
        </div>
        <div class="p-2 bd-highlight pink titlefont">
          <h2><strong>
              <</strong> {{diary.category}} <strong>>
            </strong></h2>
        </div>
      </div>
      <div class="p-2">{{{diary.description}}}</div>
    </div>
  </div>
</div>