{{#each diaries}}
<div class="container remove-padding">
  <div class="col remove-padding story-card card">
    <div class="nav card-header">
      <span class="p-1">
        <h6>{{dateOfCreate this.created_at}}</h6>
      </span>
    </div>
    <div class="p-1">
      <div class="d-flex bd-highlight">
        <div class="mr-auto p-2">
          <h4><span class=""></span>{{this.diaryTitle}} </span> by <span class=""> <a
                href="/profile/{{this._owner._id}}">{{this._owner.username}}</a>
          </h4></span>
        </div>
        <div class="p-2 bd-highlight pink titlefont">
          <h2><strong>
              <</strong> {{this.category}} <strong>>
            </strong></h2>
        </div>
      </div>
      <div class="mr-auto p-3">
        <a href="/read-story/{{this._id}}" class="btn btn-blue bg-font">Read Story</a>
      </div>
    </div>
  </div>
</div>
{{/each}}



{{!-- <div class="container diary-post-div black story-card card">
  <div class="container2">
    <div class="d-flex bd-highlight">
      <div class="mr-auto p-2">
        <h4><span class="">{{this.diaryTitle}} </span> by <span class=""> {{this._owner.username}}
        </h4></span>
      </div>
      <div class="p-2 bd-highlight pink titlefont">
        <h2><strong>
            <</strong> {{this.category}} <strong>>
          </strong></h2>
      </div>
    </div>
    <div class="mr-auto p-2">
      <a href="/read-story/{{this._id}}" class="btn btn-blue bg-font">Read Story</a>
    </div>
  </div>
</div> --}}